.message {
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .notif {
    color: green;
  }

  .error {
    color: red;
  }

  .none {
    display: none;
  }